body {
	margin: 0;
}
ul {
	padding: 0;
}
nav {
	img {
		width: 12%;
	}
	li {
		list-style: none;
		font-size: 13px;
	}
	input {
		font-size: 13px;
	}
}
.border-none {
	border: 0px;
}
footer {
	background-color: #e6dfd7;
	padding: 50px 100px;
	.footer-title {
		font-size: 20px;
		font-weight: 700;
	}
	li {
		list-style: none;
		border-right: 1px solid black;
		a {
			color: black;
		}
	}
	p {
		text-align: center;
	}
	.footer-icon {
		font-size: 32px;
	}
}
